@model Runner.Model.ViewModel.UserView
@{
    ViewData["Title"] = "AddUser";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<h1>AddUser</h1>
<div class="row">
    <div class="col-md-6">
        <form asp-for="AddUser">
            <div class="form-group">
                <label asp-for="Name"> User Name</label>
                <input type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Mobile">Mobile</label>
                <input type="text" class="form-control" />

            </div>
            <div class="form-group">
                <select id="country" name="Country" class="form-control">
                    <option>Select Country</option>
                </select>

            </div>


            <div class="form-group">
                <input type="submit" value="Save" class=" btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        GetCountry()
    })

    function GetCountry() {
        $.ajax({
            url: "/Cascade/GetCountry",
            success: function (Result) {
                $.each(Result.country2s, function (i, data) {
                    $("#country").append('<option value= ' + data.cntId + '>' + data.countryName + '</option>')
                }
           ) }
        })
    }
</script>
